.gradient-background {
  background: linear-gradient(to bottom, #1e1357, white);
}

.gradient-text {
  background: linear-gradient(to bottom, #1e1357, #4a90e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bg-menu-btn {
  background-color: #bbb8cc;
}

.text-navy {
  color: #1e1357;
}

.bg-btn {
  background-color: #1e1357;
}
.bg-navy {
  background-color: #1e1357;
}

.custom-card:hover {
  transform: scale(1.05);
  
}
